<p>Hello and welcome to the Techmasters website, a place for technological tutorials and assistance. Feel free to check out our Techmasters forum, though you will need to be a member to post.</p>
<h1>Need computer help or have a printer problem?</h1>
FORM GOES HERE.

<p>To Do</p>
<ul>
    <li>Add user accounts</li>
    <li>Add email form that sends email to all who have user accounts</li>
    <li>Add forum where anyone can view but only members can post.</li>
    <li>If I have time, add a moderating feature for one specific user, aka me.</li>
    </ul>

This is a test for the rails linking system: 
    <p><%= link_to "TEST LINK", '#', class: "btn btn-large btn-primary" %><br />
    That link above is in preparation for ading users to the site in chapter seven. This create a stub link of the form <textarea><a href="#" class="btn btn-large btn-primary">Sign up now!</a></textarea>
    </p>

   <p>Problems for Mr. Hugon</p>
   <ul>
        None at the moment.
    </ul>

    Stuff to finish chapter 5:
    <li><%= link_to "Contact", contact_path %></li>

    <li><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></li>

    <p>Progress on the Final Project</p>
    <ul>
        <li>Made controllers and models for users and orders.</li>
    </ul>